:root {
  --ns-yellow: #ffc917;
  --ns-blue: #0063d3;
}

html,
body {
  display: flex;
  height: 100%;
  width: 100vw;
  background-color: #ffc917;
}

#root {
  flex: 1;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  // NS.nl
}

.intro {
  height: 100%;
  display: flex;
  flex-direction: column;
}

// BEM-attempt
.banner {
  display: flex;
  height: 4rem;
  background-color: var(--ns-yellow);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  &__back-button,
  &__logo {
    width: 3.2rem;
    height: 2.5rem;

    &--container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.landingpage {
  &__jumbotron {
    background-image: url("/images/jumbotron.jpg");
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem 2rem 1rem 1rem;
    height: 10rem;
    display: flex;
    align-items: center;
    &--content {
      padding: 0.5rem;
      color: white;
      font-size: 1.5rem;
      font-weight: 500;
      text-shadow: 2px 1px rgba(0, 0, 0, 0.8);
      span {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
  &__cities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
  }
  &__city {
    color: white;
    font-size: 2rem;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.5);
    padding: 1rem 1rem 1rem 1rem;
    font-weight: bold;
    background-size: cover;
    width: 100%;
    height: 5rem;
  }
}

.content {
  flex: 1;
  padding: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: none;
  box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, 0.15); // NS.nl
}

.city {
  display: grid;
  grid-template-columns: 2fr 1fr 2rem;
  padding-right: 0;
}

.right-chevron {
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
  font-weight: bold;
}

.city-name {
  font-weight: bold;
  font-size: 1.25rem;
}

.city-distance {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: grey;
}

.city-image {
  width: 100%;
  height: 4.5rem;
}

.city-info {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.price-listing {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: center;
}

.new-price {
  color: #ee0000;
  font-weight: bold;
}

.title {
  font-weight: bold;
  text-align: center;
}

.flex {
  flex: 1;
}

.button {
  height: 3rem;
  background-color: #0063d3;
  box-shadow: inset 0 -0.125rem 0 #004ba0; // NS.nl
  border: none;

  &:disabled {
    background-color: lightgrey;
    box-shadow: none;
    opacity: 100;
  }
}

.deal {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
}

.selection-button {
  background-color: white;
  color: #0063d3;
  border: 1px solid #0063d3;
}

.selected {
  background-color: #0063d3;
  color: white;
}

.centered-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.slider-container {
  width: 75%;
  padding-top: 3rem;
}

.question-label {
  text-align: center;
}

.questionnaire-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.2rem;
  margin-bottom: 3rem;

  &-item {
    font-size: 0.75rem;
    border: 2px solid var(--ns-blue);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    text-align: center;
  }
}

.email-input {
  border: 2px solid var(--ns-blue);
  border-radius: 5px;
  padding: 0.5rem;
}

.attention-text {
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

/* OVERRIDES */
.ScratchCard {
  &__Container {
    width: calc(100% + 5rem) !important;
    height: 18rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__Canvas {
    padding: 2.5rem;
  }

  &__Canvas,
  &__Result {
    width: 100%;
    height: 100%;
  }

  &__Result {
    padding: 3rem;
  }
}
