:root {
  --ns-yellow: #ffc917;
  --ns-blue: #0063d3;
  --ns-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, 0.15);
}

html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: var(--ns-yellow);
  overscroll-behavior: contain;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.35;
  font-size: 16px;
}

.radios {
  display: flex;

  input {
    flex: 1;
  }
}

.question-labels {
  display: flex;
  justify-content: space-between;
}

p {
  margin-bottom: 0.8rem;
}

#root {
  flex: 1;
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.intro {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-y: hidden;
  padding: 1rem;
}

// BEM-attempt
.banner {
  display: flex;
  height: 4rem;
  background-color: var(--ns-yellow);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  &__back-button,
  &__logo {
    width: 3.2rem;
    height: 2.5rem;

    &--container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.landingpage {
  &__jumbotron {
    background-image: url("/images/jumbotron.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: var(--ns-shadow);
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    height: 8rem;
    display: flex;
    align-items: center;

    &--content {
      padding: 0.5rem;
      color: white;
      font-size: 1.25rem;
      font-weight: 500;
      text-shadow: 2px 1px rgba(0, 0, 0, 0.8);

      span {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__cities {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4rem 4rem;
    gap: 0.5rem;
  }

  &__city {
    color: white;
    font-size: 1.25rem;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.5);
    padding: 2rem 1rem 1rem 0.5rem;
    font-weight: bold;
    background-size: cover;
    height: 4rem;
    border-radius: 5px;
    box-shadow: var(--ns-shadow);
  }
}

.page-content {
  height: 100%;
  padding: 0.5rem 0.5rem 0 0.5rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.card {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: none;
  box-shadow: var(--ns-shadow);
}

.city {
  display: grid;
  grid-template-columns: 2fr 1fr 2rem;
  padding-right: 0;
}


.city-name {
  font-weight: bold;
  font-size: 1.25rem;
}

.city-distance {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: grey;
}

.city-image {
  width: 100%;
  height: 4.5rem;
}

.city-info {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.price-listing {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: center;
}

.new-price {
  color: #ee0000;
  font-weight: bold;
}

.title {
  font-weight: bold;
  text-align: center;
}

.flex {
  flex: 1;
}

button {
  margin-bottom: 0.5rem;
}

.button {
  background-color: var(--ns-blue);
  box-shadow: inset 0 -0.125rem 0 #004ba0; // NS.nl
  border: none;

  &:disabled {
    background-color: lightgrey;
    box-shadow: none;
    opacity: 100;
  }
}

.deal-selection {
  padding-top: 0.5rem;
}

.deal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5rem 1.5rem;
}

.deal-content-right {
  padding-left: 1rem;
}

.deal-best {
  font-weight: bold;
  font-style: italic;
  color: var(--ns-blue)
}

.deal {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 4.5rem;
  margin-bottom: 0.5rem;
}

.deal-title {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  height: 100%;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.book-button {
  height: 3rem;
  width: 100%;

  button {
    height: 100%;
    border-radius: 5px;
    color: white;
    width: 4.5rem;
  }
}

.selection-button {
  background-color: white;
  color: var(--ns-blue);
  border: 1px solid var(--ns-blue);
}

.selected {
  background-color: var(--ns-blue);
  color: white;
}

.centered-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.slider-container {
  width: 75%;
  padding-top: 3rem;
}

.scrollable {
  overflow: scroll;
}

.question-label {
  margin-top: 2rem;
  text-align: center;
}

.questionnaire-grid {
  display: flex;
  flex-wrap: wrap;

  &-item {
    width: calc(20% - 2px);
    margin: 1px;
    font-size: 0.7rem;
    border: 2px solid var(--ns-blue);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    text-align: center;
  }
}

.email-input {
  border: 2px solid var(--ns-blue);
  border-radius: 5px;
  padding: 0.5rem;
}

.attention-text {
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}



/* OVERRIDES */
.ScratchCard {
  &__Container {
    width: calc(100% + 4rem) !important;
    height: 18rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__Canvas {
    padding: 2.5rem 4rem;
  }

  &__Canvas,
  &__Result {
    width: 100%;
    height: 100%;
  }

  &__Result {
    padding: 4.5rem;
  }
}